.student-card{
  width: 32%;
  max-width: 32%;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  display: inline-block;
}

.student-card:hover{
  background-color: #f9f9f9;
}

.student-image img{
  width: 130px;
  height: 115px;
  max-width: 130px;
  max-height: 115px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 5px;
}

.student-name{
  margin: 5px;
  margin-top: -2px;
  font-size: 1rem;
  color: black;
}

.hr-style{
  width: 80%;
  height: 2px;
  margin: 5px auto;
}

.student-card .student-info-title{
  color: #151E29;
  margin: 4px auto 2px;
  text-decoration: underline;
}

.student-info{
  color: #343a40;
  font-size: 0.8rem;
}

.student-info-disponibility{
  font-size: 0.8rem;
}

.lookingFor-container{
  margin: 2px 4px 2px;
  color: black !important;
  font-size: 0.9rem;
  font-weight: 500 !important;
}

.student-skills span{
  display: inline-block;
}

.student-social-icon{
  margin: 2px;
}

.student-social-icon a{
  color: black;
}

.student-social-icon a .fa-google-plus-square {
  color: #dd4b39;
}

.student-social-icon a .fa-linkedin-square {
  color: #007bb5;
}

.student-social-icon a .fa-twitter-square {
  color: #55ACEE;
}

.student-social-icon a .fa-github-square {
  color: black;
}

.student-cv{
  border-radius: 20px;
  margin: 3px auto;
  padding: 2px;
  background-color: #211c0d;
  color: white;
  width: 33%;
}

.student-cv a{
  color: white;
  text-decoration: none;
}
