.student-card{
  width: 31%;
  max-width: 31%;
  background-color: white;
  text-align: center;
  border-radius: 0px;
  border-top: 9px solid #0db8ba;
  margin: 5px;
  display: inline-block;
}

.student-card:hover{
  background-color: #f9f9f9;
}

.student-image img{
  width: 125px;
  height: 120px;
  max-width: 125px;
  max-height: 120px;
  border-radius: 50%;
  margin: 10px;
}

.student-name{
  margin: 5px;
  margin-top: -2px;
  font-size: 1rem;
  font-weight: 600;
  color: #3b3b3b;
}

.student-card .student-info-title{
  color: #505050;
  margin: 4px auto 2px;
  text-decoration: none;
  font-weight: bold;
}

.student-info{
  color: #343a40;
  font-size: 0.8rem;
}

.student-disponibility-and-lookingFor-container{
  background-color: #f2f2f2;
  margin-bottom: 6px;
}

.hr-style{
  width: 30%;
  height: 5px;
  background-color: #d14b4b;
  border-radius: 6px;
  position: relative;
  top: -2px;
  margin-bottom: -1px;
}

.student-info-disponibility{
  font-size: 0.8rem;
}

.lookingFor-container{
  margin: 2px 4px 2px;
  color: black !important;
  font-size: 0.9rem;
  font-weight: 500 !important;
}

.student-skills span{
  display: inline-block;
}

.student-social-icon{
  margin: 2px;
}

.student-social-icon a{
  color: black;
}

.student-social-icon a .fa-google-plus-square {
  color: #9d9d9d;
}

.student-social-icon a .fa-linkedin-square {
  color: #9d9d9d;
}

.student-social-icon a .fa-twitter-square {
  color: #9d9d9d;
}

.student-social-icon a .fa-github-square {
  color: #9d9d9d;
}

.student-cv{
  border-radius: 8px;
  margin: 3px auto;
  padding: 2px;
  background-color: #0db8ba;
  color: white;
  width: 40%;
}

.student-cv a{
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 360px){
  .student-card{
    width: 94%;
    max-width: 94%;
  }
}

@media screen and (max-width: 576px){
  .student-card{
    width: 47%;
    max-width: 47%;
  }
}

@media screen and (max-width: 768px){
  .student-card{
    width: 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 1120px) {
  .student-card{
    width: 47%;
    max-width: 47%;
  }
}
