.cols-container{
  display: flex;
  height: 100vh;
}
.left-col{
  height: calc(100vh - 92px);
  background-color: #eeeeee;
  overflow-y: auto;
}
.right-col{
  height: calc(100vh - 92px);
  overflow-y: auto;
  background-color: white;
}
.tab-icon{
  color:#fff;
}
.tab{
  border: none;
  text-align: center;
  min-width: 110px;
  padding: 15px 5px;
  background: none;
  transition: background .3s;
  position: relative;
  padding-right: 15px;
}

.tab:hover{
  cursor: pointer;
}

.tab:focus{
  outline: none;
}

.tab:focus .fa-angle-double-right{
  display: block
}
.icon-title{
  color:#fff;
  text-align: center;
  font-size: 0.875rem;
}

.tab .fa-angle-double-right{
  color: white;
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  display: none;
}

.left-location-tab{
  background-color: #0d77ba;
}

.left-disponibility-tab{
  background-color: #0d97ba;
}

.left-technologies-tab{
  background-color: #0db8ba;
}

.left-lookingFor-tab{
  background-color: #17a88b;
}
