body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/********** Bars-container styling *********/

.bars-container{
  height:40px;
}

.user-search{
  background-color: #61728b;
  border-right: 1px dotted black;
}

.search-tags{
  text-align: center;
  background-color: #61728b;
}


/********* Tabs-container Styling *********/

.Tabs-Cards-container{
  height: calc(100vh - 52px);
  position:relative;
}
.Tabs-container{
  height: calc(100vh - 52px);
  position:absolute;
}
