body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;

}

/********** Bars-container styling *********/

.bars-container{
  height:40px;
  background-color: #eeeeee;
}

.user-search input{
  background: none;
  color: white;
  width: 286px;
  height: 40px;
}

.user-search:focus{
  background-color: none;
}

.search-tags{
  width: calc(100vw - 286px);
  text-align: center;
}


/********* Tabs-container Styling *********/

.Tabs-Cards-container{
  height: calc(100vh - 52px);
  position:relative;
  background-color: #eeeeee;
}
.Tabs-container{
  height: calc(100vh - 52px);
  position:absolute;
}
