body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;

}

/********** Bars-container styling *********/

.bars-container{
  height:40px;
  background-color: whitesmoke;
}

.user-search input{
  background: none;
  /*border: none;*/
  color: white;
  /*outline: none;*/
  width: 265px;
}

.user-search:focus{
  /*outline: none;*/
  background-color: none;
}

.search-tags{
  text-align: center;
}


/********* Tabs-container Styling *********/

.Tabs-Cards-container{
  height: calc(100vh - 52px);
  position:relative;
}
.Tabs-container{
  height: calc(100vh - 52px);
  position:absolute;
}
