body{
  overflow-y: auto;
}

.hiring-form-container{
  width: 550px;
  margin: 15px auto;
  text-align: center;
  background-color: #03a9f5;
  border-radius: 6px;
}

form{
  margin-top: 40px;
}

.hiring-form-container h2{
  font-weight: bold;
  font-size: 2rem;
  padding: 4px;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 20px;
}

.hiring-form-container h5{
  font-weight: normal;
  margin-bottom: 6px;
  color: white;
}

.input-container{
  width: 70%;
  margin: 15px auto;
}

.input-container .label-container{
  font-weight: bold;
  color: white;
  width: 100%;
}

.label-container label{
  float: left;
  margin-bottom: 0px;
}

.input-container input{
  outline: none;
  background-color: inherit;
  width: 100%;
  margin: 6px auto;
  padding: 6px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.input-container input::-webkit-input-placeholder {
color: white !important;
}

.input-container input:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

.input-container input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

.input-container input:-ms-input-placeholder {
color: white !important;
}

.input-container textarea{
  outline: none;
  width: 100%;
  margin: 15px auto;
  border: none;
  border-bottom: 1px solid white;
  padding: 6px;
  background-color: inherit;
  color: white;
}

textarea::-webkit-input-placeholder {
color: white !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

textarea:-ms-input-placeholder {
color: white !important;
}

.submit-btn-container{
  padding: 20px;
}

#client-submit-button{
  width: 40%;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px;
  background-color: white;
  border-radius: 0.25rem;
  color: #03a9f5;
  border-bottom: none;
  cursor: pointer;
  margin-bottom: 15px;
}

@media screen and (max-width: 550px){

  body{
    background-color: #03a9f5;
  }

  .hiring-form-container{
    height: auto;
    width: 100%;
    margin: 0px;
  }

  .input-container{
    width: 100%;
  }

  .input-container input{
    width: 80%;
  }

  .input-container textarea{
    width: 80%;
  }

}
