.location-input{
  text-align: center;
  min-width: 160px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  padding: 4px;
  background: none;
}
.location-input:hover{
  background-color: #172942;
}
.location-input:focus{
  background-color: #172942;
}
