.techno-input{
  text-align: center;
  min-width: 160px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  padding: 4px;
}
.techno-input:hover{
background-color: #e74c3c;
}
.techno-input:focus{
background-color: #e74c3c;
}
