.navbar-container{
  margin: 0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-top: -4px;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #046cb4, #43c3e2);
}

ul.topnav li {
  float: left;
  margin-right: 8px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-weight: normal;
}

ul.topnav li.logo a{
  font-weight: bold !important
}

ul.topnav li a.social-icon{
  display: inline-block !important;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.social-icons-container{
  margin: 3px !important;
  text-align: center;
}

.social-icon:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: inherit;
  color: white;
}

.fa-linkedin {
  background: inherit;
  color: white;
}

.fa-youtube {
  background: inherit;
  color: white;
}

.fa-twitter {
  background: inherit;
  color: white;
}

ul.topnav li.right {
  float: right;
}

#navbar-dropdown-button{
  display: none;
}

.navbar-dropdown-label{
  display: none;
}

.responsive-navbar-logo{
  display: none;
}

@media screen and (max-width: 720px) {

  .fa-bars{
    margin: 6px;
    color: white;
  }

  .navbar-container{
    background: linear-gradient(to right, #046cb4, #43c3e2);
    height: 40px;
  }

  .navbar-container ul{
    display: none;
  }

  .navbar-dropdown-label{
    display: block;
    margin-bottom: 0;
  }

  .responsive-navbar-logo{
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 6px;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .responsive-navbar-logo a {
    text-decoration: none;
    color: white;
  }

  .navbar-container #navbar-dropdown-button:checked ~ ul.topnav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 40px;
    text-align: center;
    z-index: 99999;
  }

  .navbar-container #navbar-dropdown-button:checked ~ ul.topnav > li {
    display: block !important;
  }

  .navbar-container #navbar-dropdown-button:checked ~ ul.topnav > li:first-child{
    display: none !important;
  }

}
