.table {
margin: 50px;
max-width: 95%;
}

.AddStudentBtn{
  margin-top: 30px;
  margin-left: 50px;
}

.skill-span{
  background-color: #dc3545;
  color: white;
  padding:4px;
  margin: 2px;
  font-size: 0.8rem;
  border-radius: 6px;
  font-weight: 600;
}

.table-btn{
  margin: 2px;
  cursor: pointer;
}

.logout-button{
  margin-top: 30px;
  margin-left: 20px;
}

.admin-topnavbar{
  display: flex;
  justify-content: flex-end;
  padding: 18px;
}


.recruitment-link-container{
  width: auto;
  padding: 6px 12px;
  margin: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  top: 12px;
}

.recruitment-link-container a{
  text-decoration: none;
  color: #dc3545;
}
