.table {
margin: 32px;
max-width: 97.5%;
}

.skill-span{
  background-color: #dc3545;
  color: white;
  padding:4px;
  margin: 2px;
  font-size: 0.8rem;
  border-radius: 6px;
  font-weight: 600;
}

.table-btn{
  margin: 2px;
  cursor: pointer;
}

.admin-topnavbar{
  display: flex;
  justify-content:space-between;
  padding: 4px;
  height: 54px;
  background-color: #252525;
}

.admin-topnavbar .btn-info{
  margin: 4px;
}

#logout-button #AddStudentBtn{
  margin: 7px !important;
  padding: 4px !important;
}

.admin-topnavbar span{
  width: auto;
  padding: 6px 12px;
  margin: 15px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
}

.admin-topnavbar input[type='input']{
  background-color: #3e3e3e;
  border-radius: 0.35rem;
  border: none !important;
  padding: 4px;
  margin:4px;
  height: 38px;
  color: white;
  outline: none;
}
.admin-topnavbar input[type='input']::-webkit-input-placeholder{
  color: gray;
}

.recruitment-link-container a{
  text-decoration: none;
  color: #fff;
}
