.tagsContainer{
  padding: 8px;
  overflow-y: auto;
}

.searchTag{
  background-color: white;
  color: #9d9d9d !important;
  padding: 4px 7px;
  margin: 2px;
  font-size: 0.8rem;
  border-radius: 5000px;
}

.searchTag:empty{
  display: none;
}

.searchTag::after{
  content: ' ✖';
}

.searchTag:hover{
  background-color: #e74c3c;
  color: white !important;
  cursor: pointer;
}

.subtags{
  padding: 4px;
  margin: 4px;
}

@media screen and (max-width: 768px){
  .tagsContainer{
    position: static;
    width: 100%;
  }
}
