.tagsContainer{
  padding: 4px;
  overflow-y: auto;
}

.searchTag{
  background-color: inherit;
  color: black !important;
  padding: 2px;
  margin: 2px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid black;
}

.searchTag:empty{
  display: none;
}

.searchTag::after{
  content: ' ✖';
}

.searchTag:hover{
  background-color: #e74c3c;
  color: white !important;
  border-color: white;
  cursor: pointer;
}

.subtags{
  padding: 4px;
  margin: 4px;
}
